#header {
	color: rgb(255, 255, 255);
	text-shadow: 5px;
	font-size: 50px;
	margin-bottom: -5px;
}
p {
	margin-bottom: -10px;
}
.box {
	display: flex;
	margin: 35px;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
}
.btn {
	border: 2px solid gray;
	width: 75px;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 50px;
	font-weight: 500;
	color: black;
	text-align: center;
	cursor: pointer;
}
.btn:active {
	outline: none;
}
/* 3*3 Grid */
/* Reset Button */
#reset {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 1px solid dodgerblue;
	margin-left: auto;
	border-radius: 8px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;

	background-color: whitesmoke;
	color: dodgerblue;
	font-size: 20px;
	cursor: pointer;
}

/* Player turn space */
#result {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: dodgerblue;
	font-size: 20px;
}

.result-container
{

}

/* Main Container */
#main {
	text-align: center;
}
